{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    Barbershop | Services
{% endblock %}

{% block content %}

	<!-- INNER CONTENT -->
	<section id="content">
		<div class="page_header page_header2 text-center">
			<h2>Services</h2>
			<p>Get the best kit for smooth shave</p>
		</div>
		<div class="container">
			<section id="portfolio-section">
				<ul class="filter no-margin-top" data-option-key="filter">
					<li><a class="selected" href="#" data-option-value="*">All</a></li>
                    {% for category in categories %}
					<li><a href="#" data-option-value=".{{ category.class_cat }}">{{ category.name }}</a></li>
                    {% endfor %}
				</ul>
				<div id="portfolio-home" class="isotope gutter folio-boxed-3col">

                    {% for service in services %}
                    <div class="project-item {{ service.category.class_cat }}">
						<a href="{% url 'servicesapp:service_detail' service.pk %}">
							<div class="project-gal">
								<img src="/media/{{ service.main_image }}" class="img-responsive" alt="">
								<div class="overlay-folio2">
									<div class="project-info">
										<h2>{{ service.name }}</h2>
									</div>
								</div>
							</div>
						</a>
					</div>
                    {% endfor %}

				</div>
			</section>
		</div>
	</section>

	<div class="clearfix space70"></div>
{% endblock %}