{% load static %}

	<!-- FOOTER -->
	<footer id="footer2">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h3>Newsletter</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pulvinar justo quam, in consequat velit mollis at.</p>
					<form class="newsletter">
						<input type="text" placeholder="Email Address here..">
						<button type="submit"><i class="fa fa-paper-plane"></i></button>
					</form>
				</div>

				<div class="col-md-3">
					<h3>Recent News</h3>
					<ul class="f-news">
						<li><a href="#">Best barbershops in the world<i class="fa fa-angle-right"></i></a></li>
						<li><a href="#">Professional tips for clean shave<i class="fa fa-angle-right"></i></a></li>
						<li><a href="#">Get the best salon discounts<i class="fa fa-angle-right"></i></a></li>
						<li><a href="#">How to treat a new customer<i class="fa fa-angle-right"></i></a></li>
						<li><a href="#">Salon Techniques around the world<i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>

				<div class="col-md-3 twitterfeed">
					<h3>Tweets</h3>
					<div class="tweet-info">
						<div id="tweetcool"></div>
					</div>
				</div>

				<div class="col-md-3">
					<img src="/media/images/home-page/main-page-logo.png" class="img-responsive" alt=""/>
				</div>
			</div>
		</div>
		<div class="footer-bottom container">
			<div class="row">
				<div class="col-md-6">
					<p>&copy; Copyright 2015. Barbershop</p>
				</div>
				<div class="col-md-6">
					<p class="pull-right">Design by <a target="_blank" href="http://themeforest.net/user/Theme-Squared">ThemeSquared</a></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- FOOTER -->