{% load static %}

<section id="home-shop">
    <div class="container">
        <div class="col-md-12">
            <div class="h-page-title">
                <h1>Recent Products</h1>
                <span class="sub-title">hot deals</span>
                <div class="mustache">
                    <span><img class="img-responsive" src="/media/images/home-page/mustache.png" alt=""></span>
                </div>
            </div>
            <div class="clearfix space35"></div>

            <div id="home-shop-carousel" class="owl-carousel owl-theme">
                <div class="sm-item text-center">
                    <div class="product">
                        <div class="product-thumb">
                            <img src="/media/images/shop/1.jpg" class="img-responsive" alt="">
                            <div class="product-overlay">
												<span>
												<a href="./shop-single-full.html" class="fa fa-link"></a>
												<a href="./shop-single-full.html" class="fa fa-shopping-cart"></a>
												</span>
                            </div>
                        </div>
                        <div class="rating">
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star act"></span>
                        </div>
                        <h2 class="product-title"><a href="#">Shave Knives</a></h2>
                        <div class="product-price">$79.00<span>$200.00</span></div>
                    </div>
                </div>
                <div class="sm-item text-center">
                    <div class="product">
                        <div class="product-thumb">
                            <img src="/media/images/shop/2.jpg" class="img-responsive" alt="">
                            <div class="product-overlay">
												<span>
												<a href="./shop-single-full.html" class="fa fa-link"></a>
												<a href="./shop-single-full.html" class="fa fa-shopping-cart"></a>
												</span>
                            </div>
                        </div>
                        <div class="rating">
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <h2 class="product-title"><a href="#">Comb Scissors</a></h2>
                        <div class="product-price">$79.00<span>$200.00</span></div>
                    </div>
                </div>
                <div class="sm-item text-center">
                    <div class="product">
                        <div class="product-thumb">
                            <img src="/media/images/shop/3.jpg" class="img-responsive" alt="">
                            <div class="product-overlay">
												<span>
												<a href="./shop-single-full.html" class="fa fa-link"></a>
												<a href="./shop-single-full.html" class="fa fa-shopping-cart"></a>
												</span>
                            </div>
                        </div>
                        <div class="rating">
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star act"></span>
                        </div>
                        <h2 class="product-title"><a href="#">Water Spray</a></h2>
                        <div class="product-price">$79.00<span>$200.00</span></div>
                    </div>
                </div>
                <div class="sm-item text-center">
                    <div class="product">
                        <div class="product-thumb">
                            <img src="/media/images/shop/4.jpg" class="img-responsive" alt="">
                            <div class="product-overlay">
												<span>
												<a href="./shop-single-full.html" class="fa fa-link"></a>
												<a href="./shop-single-full.html" class="fa fa-shopping-cart"></a>
												</span>
                            </div>
                        </div>
                        <div class="rating">
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <h2 class="product-title"><a href="#">Electric Shaving Machine</a></h2>
                        <div class="product-price">$79.00<span>$200.00</span></div>
                    </div>
                </div>
                <div class="sm-item text-center">
                    <div class="product">
                        <div class="product-thumb">
                            <img src="/media/images/shop/5.jpg" class="img-responsive" alt="">
                            <div class="product-overlay">
												<span>
												<a href="./shop-single-full.html" class="fa fa-link"></a>
												<a href="./shop-single-full.html" class="fa fa-shopping-cart"></a>
												</span>
                            </div>
                        </div>
                        <div class="rating">
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star act"></span>
                            <span class="fa fa-star act"></span>
                        </div>
                        <h2 class="product-title"><a href="#">Rasiermesser</a></h2>
                        <div class="product-price">$79.00<span>$200.00</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>